
@* @model List<Product>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <p>ürün adı: @Model[0].Name</p>
    <p>ürün fiyatı: @Model[0].Price</p>
    <p>ürün soyadı: @Model[0].Description</p>

    <p>ürün adı: @Model[1].Name</p>
    <p>ürün fiyatı: @Model[1].Price</p>
    <p>ürün soyadı: @Model[1].Description</p>

</body>
</html> *@